// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 70px;
	background: #edeff0;
}
.navbar {
	background: #3e474f;
	border-color: #3e474f;
	min-height: 70px;

	.navbar-brand {
		padding: 23px 15px;
		color: #fff;
		font-size: 23px;
		font-weight: 700;
	}

	.navbar-nav > li > a {
		padding-top: 23px;
		color: #fff;
		font-size: 18px;
	}
}


a {
	color: #4b5658;
}

a.urls {
	text-decoration: underline;
}

h2 {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 600;
	font-size: 25px;
}
.bookmark {
	min-height: 220px;
	border-radius: 5px;
	border: 1px solid #eee;
	background: #fff;
	margin-bottom: 20px;

	.bookmark-body {
		padding: 10px 15px;

		h4 {
			padding-bottom: 5px;
			border-bottom: 1px solid #ccc;
			color: #7b8b8e;
		}

		h3 {
			margin-bottom: 10px;
			font-size: 20px;
		}

		p {
			margin-bottom: 10px; 
		}

		.description {
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 10px;
		}

		.bookmark_desc {
			padding: 10px 0;
		}
	}
}

.fa {
	font-size: 18px;
}

.fa-star {
	color: #E9C46A;
}

.fa-pencil {
	color: #ccc;
}

.delete {
	margin-left: 7px;

	.fa {
		color: #F73D44;
	}
}

.time {
	padding-top: 10px;
	border-top: 1px solid #eee;
	color: #bbb;
	font-size: 13px;
}

.icons {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.form-wrapper {
	width: 500px;
	margin: 50px auto;
	background: #fff;
	border-radius: 5px;
	padding: 40px 20px;
}


